In [1]:
path_data = 'E:\\Documents\\Năm 3\\Kì 2\\Hệ hỗ trợ quyết định\\project\\data\\lthing_data.tar.gz'

# Load data

## Book Rating data

In [2]:
import tarfile

In [ ]:
with tarfile.open(path_data) as tar:
    print("Files in tar archive:")
    tar.list()
 
    with tar.extractfile("lthing_data/reviews.json") as file:
        count = 0
        for line in file:
            print(line)
            count += 1
            if count > 3:
                break

In [4]:
import ast
 
reviews = []
with tarfile.open(path_data) as tar:
    with tar.extractfile("lthing_data/reviews.json") as file:
        for line in file:
            record = ast.literal_eval(line.decode("utf8"))
            if any(x not in record for x in ['user', 'work', 'stars']):
                continue
            reviews.append([record['user'], record['work'], record['stars']])
print(len(reviews), "records retrieved")

1387209 records retrieved

In [5]:
import pandas as pd
reviews = pd.DataFrame(reviews, columns=["user", "work", "stars"])
reviews_copy_0 = reviews
print(reviews.shape)

(1387209, 3)

In [6]:
# Look for the users who reviewed more than 50 books
usercount = reviews[["work","user"]].groupby("user").count()
usercount = usercount[usercount["work"] >=30]
print(usercount)

            work
user
              84
-AlyssaE-     41
-Eva-        602
06nwingert   370
0703          46
...          ...
zquilts       67
zsms          33
zwaantje     121
zyabuko       30
zzshupinga   246

[8907 rows x 1 columns]

In [7]:
usercount["user_ID"] = range(len(usercount))

In [8]:
usercount
n_users = len(usercount)

In [9]:
...
# Look for the books who reviewed by more than 50 users
workcount = reviews[["work","user"]].groupby("work").count()
workcount = workcount[workcount["user"] >= 30]
print(workcount.dtypes)

user    int64
dtype: object

In [10]:
workcount['items_ID'] = range(len(workcount))

In [11]:
workcount

          user  items_ID
work
10000      106         0
10001       53         1
1000167    186         2
10001797    53         3
10002       45         4
...        ...       ...
9993888     34      6012
9997        42      6013
9997232     64      6014
9998        66      6015
9998836     31      6016

[6017 rows x 2 columns]

In [12]:
n_items = len(workcount)
n_items

6017

In [13]:
...
# Keep only the popular books and active users
reviews = reviews[reviews["user"].isin(usercount.index) & reviews["work"].isin(workcount.index)]

In [14]:
print(reviews)

                  user      work  stars
0             van_stef   3206242    5.0
3        Lila_Gustavus   5231009    3.0
6              justine      3067    4.5
10          curvymommy  13206089    3.5
15         jwhenderson      1518    4.0
...                ...       ...    ...
1387177     BruderBane     24623    4.5
1387182   whymaggiemay      7683    4.0
1387192    StuartAston   8282225    4.0
1387202        danielx   9759186    4.0
1387206       jclark88   8253945    3.0

[326781 rows x 3 columns]

In [15]:
reviews_copy = reviews

In [16]:
reviews.isna().sum()

user     0
work     0
stars    0
dtype: int64

In [17]:
reviews_copy

                  user      work  stars
0             van_stef   3206242    5.0
3        Lila_Gustavus   5231009    3.0
6              justine      3067    4.5
10          curvymommy  13206089    3.5
15         jwhenderson      1518    4.0
...                ...       ...    ...
1387177     BruderBane     24623    4.5
1387182   whymaggiemay      7683    4.0
1387192    StuartAston   8282225    4.0
1387202        danielx   9759186    4.0
1387206       jclark88   8253945    3.0

[326781 rows x 3 columns]

In [18]:
reviews_copy = pd.merge(reviews_copy, workcount, on= ['work'] )

In [19]:
reviews_copy = reviews_copy.rename(columns={'user_x': 'user'})

In [20]:
reviews_copy = pd.merge(reviews_copy, usercount, on= ['user'] )

In [21]:
reviews_copy = reviews_copy.rename(columns={'work_x': 'work'})

In [23]:
data = reviews_copy[['user_ID','items_ID','stars']].sort_values('user_ID')

In [24]:
data.head()

        user_ID  items_ID  stars
255223        0      2806    3.5
255221        0      1549    3.0
255222        0      2975    3.0
255224        0       233    4.0
255225        0       250    4.0

In [25]:
data_copy = data

In [26]:
val = data_copy.sample(frac=0.05,random_state= 42)

In [27]:
val

        user_ID  items_ID  stars
65332      7244       795    3.0
168378     4309      2244    4.0
6843       2059       241    4.0
85818      4158      4273    5.0
131197      647      2381    2.0
...         ...       ...    ...
32471      4762      2066    3.5
36817       459      4158    4.0
18802      7923      3177    4.0
311722     2987      4267    4.0
207068     4992       225    2.0

[16339 rows x 3 columns]

In [28]:
data_1 = data_copy.drop(val.index)

In [29]:
data_1

        user_ID  items_ID  stars
255223        0      2806    3.5
255221        0      1549    3.0
255224        0       233    4.0
255225        0       250    4.0
255226        0      3908    4.0
...         ...       ...    ...
277900     8906      4857    3.0
277901     8906      3045    5.0
277903     8906       470    5.0
277905     8906       874    4.0
277909     8906      3119    5.0

[310442 rows x 3 columns]

In [30]:
n_ratings = len(data_1)

## Film Rating
 https://www.kaggle.com/datasets/kanametov/movies-recomendation-system?select=ratings.csv

In [ ]:
#load data
import pandas as pd
data = pd.read_csv('data\\film_ratings\\ratings.csv')

data_1 = data[:500000].sort_values(by="userId")

usercount_ = data_1[["userId","movieId"]].groupby("userId").count()
n_users = len(usercount_)
print(usercount_)

filmcount_ = data_1[["movieId","userId"]].groupby("movieId").count()
# workcount_ = workcount_[workcount_["userId"] >= 200]
n_items = len(filmcount_)

filmcount_['movie_ID'] = range(len(filmcount_))

data_1 = pd.merge(data_1, filmcount_, on= ['movieId'], how= 'left' )

data_1 = data_1.rename(columns={'userId_x': 'user_ID'})

data_1 = data_1[['user_ID','movie_ID','rating']]

data_1['user_ID'] = data_1['user_ID'] - 1

val_set = data_1.sample(frac=0.1,random_state= 42)
data_train = data_1.drop(val_set.index)

n_ratings = len(data_train)

# Build Model

In [15]:
import numpy as np
from cv2 import erode

In [ ]:
# model with bias
class MF_1(object):
    def __init__(self, Y_data, val_set, k, lam = 0.75, Q_init = None, P_init = None,n_users = None, n_items = None, learning_rate = 0.2, Max_iter = 1000, n_ratings = None,print_every = 10):
        self.Y_data= Y_data.values
        self.Y_val_set = val_set.values
        self.lamda = lam
        self.learning_rate = learning_rate
        self.Max_iter = Max_iter
        self.n_users = n_users
        self.n_items = n_items
        self.n_ratings = n_ratings
        self.print_every = print_every
        self.K = k
        #init P, Q
        if Q_init is not None:
            self.Q = Q_init
        else:
            self.Q = np.random.normal(0.5, 0.5,size=(n_items, k))
        if P_init is not None:
            self.P = P_init
        else:
            self.P = np.random.normal(0.5, 0.5, size= (k, n_users))
        # item biases
        self.Y_data_raw = self.Y_data.copy()
        self.val_set = self.Y_val_set.copy()
        self.b = np.random.randn(self.n_items)
        self.d = np.random.randn(self.n_users)
        self.mu_g = np.mean(self.Y_data_raw[:,2])
    def normalize_data(self):
        n_objects = self.n_users

        users = self.Y_data_raw[:, 0].astype(np.int32) 
        users_val = self.val_set[:,0].astype(np.int32)
        self.mu = np.zeros((n_objects,))
        for n in range(n_objects):
            # row indices of rating done by user n
            # since indices need to be integers, we need to convert
            ids = np.where(users == n)[0].astype(np.int32)
            # indices of all ratings associated with user n
            item_ids = self.Y_data_raw[ids, 1] 
            # and the corresponding ratings 
            ratings = self.Y_data_raw[ids, 2]
            # take mean
            m = np.mean(ratings) 
            if np.isnan(m):
                m = 0 # to avoid empty array and nan value
            self.mu[n] = m
            # normalize
            self.Y_data_raw[ids, 2] = ratings - self.mu[n]
        for n in range(n_objects):
            # row indices of rating done by user n
            # since indices need to be integers, we need to convert
            ids = np.where(users_val == n)[0].astype(np.int32)
            # indices of all ratings associated with user n
            item_ids = self.val_set[ids, 1] 
            # and the corresponding ratings 
            ratings = self.val_set[ids, 2]
            # take mean
            # normalize
            self.val_set[ids, 2] = ratings - self.mu[n]
    # Compute loss function
    def loss(self):
        loss = 0
        for i in range(self.n_ratings):
            n, m , r = int(self.Y_data_raw[i, 0]), int(self.Y_data_raw[i,1]), self.Y_data_raw[i,2]
            loss += (r - self.Q[m, :].dot(self.P[:, n]) - self.b[m] - self.d[n] - self.mu_g)**2
        loss = loss/(2*self.n_ratings)
        loss += 0.5*self.lamda* (np.linalg.norm(self.Q,'fro')**2 + np.linalg.norm(self.P, 'fro')**2+ np.linalg.norm(self.b)**2 + np.linalg.norm(self.d)**2)
        return loss
    
    def get_items_rated_by_user(self, user_id):
        """
        get all items which are rated by user and the corresponding ratings
        """
        ids = np.where(self.Y_data_raw[:,0].astype(np.int32) == user_id)[0] 
        item_ids = self.Y_data_raw[ids, 1].astype(np.int32) # indices need to be integers
        ratings = self.Y_data_raw[ids, 2]
        return (item_ids, ratings)
        
        
    def get_users_who_rate_item(self, item_id):
        """
        get all users who rated item item_id and get the corresponding ratings
        """
        ids = np.where(self.Y_data_raw[:,1].astype(np.int32) == item_id)[0] 
        user = self.Y_data_raw[ids, 0].astype(np.int32)
        ratings = self.Y_data_raw[ids, 2]
        return (user, ratings)
    
    # updated Q, P
    def update_Q(self):
        for m in range(self.n_items):
            user, ratings = self.get_users_who_rate_item(m)
            Pm = self.P[:, user]
            error =  -(ratings - self.Q[m, :].dot(Pm) - self.b[m] - self.d[user] - self.mu_g)
            # gradient
            grad_qm = error.dot(Pm.T)/self.n_ratings + self.lamda*self.Q[m, :]
            grad_bm = np.sum(error)/self.n_ratings + self.lamda*self.b[m]
            self.Q[m, :] -= self.learning_rate*grad_qm.reshape((self.K,))
            self.b[m] -= self.learning_rate*grad_bm
    
    def update_P(self):
        for n in range(self.n_users):
            item_ids, ratings = self.get_items_rated_by_user(n)
            Qn = self.Q[item_ids, :]
            bn = self.b[item_ids]
            # gradient
            error = ratings - Qn.dot(self.P[:, n]) - bn - self.d[n] - self.mu_g
            grad_pn = -Qn.T.dot(error)/self.n_ratings + self.lamda*self.P[:, n]
            grad_dn =  -np.sum(error)/self.n_ratings +self.lamda*self.d[n]
            self.P[:, n] -= self.learning_rate*grad_pn.reshape((self.K,))
            self.d[n] -= self.learning_rate*grad_dn

    def fit(self):
        self.normalize_data()
        for it in range(self.Max_iter):
            self.update_Q()
            self.update_P()
            if (it + 1) % self.print_every == 0:
                rmse_train = self.evaluate_RMSE(self.Y_data)
                rmse_val = self.evaluate_RMSE(self.Y_val_set)
                print ('iter =', it + 1, ', loss =', self.loss(), ', RMSE train =', rmse_train, ', RMSE val = ', rmse_val)
            if self.loss() <=0.01:
                break
    
    def evaluate_RMSE(self, rate_test):
        n_tests = rate_test.shape[0]
        SE = 0 # squared error
        for n in range(n_tests):
            pred = self.pred(rate_test[n, 0], rate_test[n, 1])
            SE += (pred - rate_test[n, 2])**2 

        RMSE = np.sqrt(SE/n_tests)
        return RMSE
    def pred(self, u, i):
        """ 
        predict the rating of user u for item i 
        if you need the un
        """
        u = int(u)
        i = int(i)
        pred = self.Q[i, :].dot(self.P[:, u]) + self.b[i] + self.d[u] +self.mu[u] #+ self.mu_g 
        # truncate if results are out of range [0, 5]
        if pred < 0:
            return 0 
        if pred > 5: 
            return 5 
        return pred

In [17]:

class MF(object):
    def __init__(self, Y_data, val_set, k, lam = 0.75, Q_init = None, P_init = None,n_users = None, n_items = None, learning_rate = 0.2, Max_iter = 1000, n_ratings = None,print_every = 10):
        self.Y_data = Y_data.values
        self.Y_val_set = val_set.values
        self.lamda = lam
        self.learning_rate = learning_rate
        self.Max_iter = Max_iter
        self.n_users = n_users
        self.n_items = n_items
        self.n_ratings = n_ratings
        self.print_every = print_every
        self.K = k
        #init X, W
        if Q_init is not None:
            self.Q = Q_init
        else:
            self.Q = np.random.normal(0.5, 0.5,size=(n_items, k))
        if P_init is not None:
            self.P = P_init
        else:
            self.P = np.random.normal(0.5, 0.5, size= (k, n_users))
        self.Y_data_raw = self.Y_data.copy()
        self.val_set = self.Y_val_set.copy()
    def normalize_data(self):
        n_objects = self.n_users
        users = self.Y_data_raw[:, 0].astype(np.int32) 
        users_val = self.val_set[:,0].astype(np.int32)
        self.mu = np.zeros((n_objects,))
        for n in range(n_objects):
            # row indices of rating done by user n
            # since indices need to be integers, we need to convert
            ids = np.where(users == n)[0].astype(np.int32)
            # indices of all ratings associated with user n
            item_ids = self.Y_data_raw[ids, 1] 
            # and the corresponding ratings 
            ratings = self.Y_data_raw[ids, 2]
            # take mean
            m = np.mean(ratings) 
            if np.isnan(m):
                m = 0 # to avoid empty array and nan value
            self.mu[n] = m
            # normalize
            self.Y_data_raw[ids, 2] = ratings - self.mu[n]
    
        for n in range(n_objects):
            # row indices of rating done by user n
            # since indices need to be integers, we need to convert
            ids = np.where(users_val == n)[0].astype(np.int32)
            # indices of all ratings associated with user n
            item_ids = self.val_set[ids, 1] 
            # and the corresponding ratings 
            ratings = self.val_set[ids, 2]
            # take mean
            # normalize
            self.val_set[ids, 2] = ratings - self.mu[n]
            
    # Compute loss function
    def loss(self):
        loss = 0
        for i in range(self.n_ratings):
            n, m , r = int(self.Y_data_raw[i, 0]), int(self.Y_data_raw[i,1]), self.Y_data_raw[i,2]
            loss += (r - self.Q[m, :].dot(self.P[:, n]))**2
        loss = loss/(2*self.n_ratings)
        loss += 0.5*self.lamda* (np.linalg.norm(self.Q,'fro')**2 + np.linalg.norm(self.P, 'fro')**2)
        return loss
    
    def get_items_rated_by_user(self, user_id):
        """
        get all items which are rated by user and the corresponding ratings
        """
        ids = np.where(self.Y_data_raw[:,0].astype(np.int32) == user_id)[0] 
        item_ids = self.Y_data_raw[ids, 1].astype(np.int32) # indices need to be integers
        ratings = self.Y_data_raw[ids, 2]
        return (item_ids, ratings)
        
        
    def get_users_who_rate_item(self, item_id):
        """
        get all users who rated item item_id and get the corresponding ratings
        """
        ids = np.where(self.Y_data_raw[:,1].astype(np.int32) == item_id)[0] 
        user = self.Y_data_raw[ids, 0].astype(np.int32)
        ratings = self.Y_data_raw[ids, 2]
        return (user, ratings)
    
    # updated X, W
    def update_Q(self):
        for m in range(self.n_items):
            user, ratings = self.get_users_who_rate_item(m)
            Wm = self.P[:, user]
            error =  -(ratings - self.Q[m, :].dot(Wm))
            # gradient
            grad_xm = error.dot(Wm.T)/self.n_ratings + self.lamda*self.Q[m, :]
            #grad_bm = -np.sum(error)/self.n_ratings + self.lamda*self.b[m]
            self.Q[m, :] -= self.learning_rate*grad_xm.reshape((self.K,))
           # self.b[m] -= self.learning_rate*grad_bm
    
    def update_P(self):
        for n in range(self.n_users):
            item_ids, ratings = self.get_items_rated_by_user(n)
            Xn = self.Q[item_ids, :]
            #bn = self.b[item_ids]
            # gradient
            error = ratings - Xn.dot(self.P[:, n])
            grad_wn = -Xn.T.dot(error)/self.n_ratings + self.lamda*self.P[:, n]
            #grad_dn =  -np.sum(error)/self.n_ratings +self.lamda*self.d[n]
            self.P[:, n] -= self.learning_rate*grad_wn.reshape((self.K,))
           # self.d[n] -= self.learning_rate*grad_dn
    def fit(self):
        self.normalize_data()
        for it in range(self.Max_iter):
            self.update_Q()
            self.update_P()
            if (it + 1) % self.print_every == 0:
                rmse_train = self.evaluate_RMSE(self.Y_data)
                rmse_val = self.evaluate_RMSE(self.Y_val_set)
                print ('iter =', it + 1, ', loss =', self.loss(), ', RMSE train =', rmse_train, ', RMSE val = ', rmse_val)
            if self.loss() <=0.01:
                break
    
    def evaluate_RMSE(self, rate_test):
        n_tests = rate_test.shape[0]
        SE = 0 # squared error
        for n in range(n_tests):
            pred = self.pred(rate_test[n, 0], rate_test[n, 1])
            SE += (pred - rate_test[n, 2])**2 

        RMSE = np.sqrt(SE/n_tests)
        return RMSE
    def pred(self, u, i):
        """ 
        predict the rating of user u for item i 
        if you need the un
        """
        u = int(u)
        i = int(i)
        # if self.user_based:
        #     bias = self.mu[u]
        # else: 
        #     bias = self.mu[i]
        pred = self.Q[i, :].dot(self.P[:, u]) + self.mu[u] #+ self.b[i] + self.d[u]
        #truncate if results are out of range [0, 5]
        if pred < 0:
            return 0 
        if pred > 5: 
            return 5 
        return pred

In [ ]:
FC  = MF(data_1, val, 25,lam= 0, n_users= n_users, n_items= n_items, n_ratings=n_ratings,print_every= 10, learning_rate= 2.5)
FC.fit()

In [ ]:
data_1[data_1["user_ID" ]==5000]

In [ ]:
FC.pred(5000, 2181)

In [21]:
# save weights
np.savetxt('Q.txt', FC.Q)

In [22]:
np.savetxt('P.txt',FC.P)